@model P2PLibray.Account.Account

@{
    ViewBag.Title = "Calender";
}

<!-- Event Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <!-- Modal title -->
                <h4 class="modal-title fw-semibold text-white text-center w-100 pb-4"></h4>
                <!-- Close button -->
                <button type="button" class="btn btn-close btn-close-white position-absolute top-0 end-0 m-3 fs-4" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<!-- Calendar container -->
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Calendar placeholder -->
                    <div id="calendar" class="app-fullcalendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calendar script -->
<script src="~/Scripts/Calendar-modal.js"></script>