<div class="container">
    <div class="card mt-4 p-1">
        <ul class="nav nav-pills" id="goodsTabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#RejectedGoodsList">RejectedGoodsList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#GoodsReturnList">GoodsReturnList</a>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div id="RejectedGoodsList" class="tab-pane fade show active">
                @Html.Partial("_RejectedGRNHSB")
            </div>
            <div id="GoodsReturnList" class="tab-pane fade">
                @Html.Partial("_GoodReturnListHSB")
            </div>
        </div>

    </div>

</div>